# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# IDE settings
.idea/
.vscode/

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3

# OS files
.DS_Store

# Environment
.env